/* --------------------------------- */
/*        INITIAL STATES AND         */
/*          LARGE CONTAINERS         */
/* --------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px dashed black; */
}

.dm-sans {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    /* weight from 100-1000 */
    font-weight: 400; 
    font-style: normal;
}

.chicle{
    font-family: "Chicle";
    letter-spacing: 0.1rem;
}

.itallics{
    font-style: italic;
}

@property --body-color {
    syntax: "<color>";
    inherits: false;
    /* initial-value: rgb(200, 200, 200); */
    initial-value: rgb(35, 35, 35);
}


body{
    width: 100vw;
    /* height: 100vh; */
    overflow-x: hidden;
    /* overflow-y: auto; */
    /* position: sticky; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-color: #1b223e;
    /* background-color: #656468; */
    
}

#page {
    overflow: auto;
    /* margin: 2rem; */
    width: 60%;
    min-width: 600px;
    background-color: hsl(0, 0%, 70%);
    /* background-color: rgb(40, 40, 40); */
    outline: medium solid rgb(100, 100, 100);
    padding: 2rem;
    color: var(--body-color);
}



/* -------------------------- */
/*        PAGE HEADER         */
/* -------------------------- */

#pageheader {
    margin: -2rem; 
    /* Margin at -2rem to span the whole page */
    margin-bottom: 2rem;
    padding: 1rem 1rem 1rem 1rem;

    /* width: 100%; */
    min-height: 6rem;
    background-color: black;
    align-items: center;
    display: flex;
    font-family: "Chicle";

    .headerlink {
        flex: 1;
        /* border: thin solid rgb(100,100,100,0.4); */
        color: skyblue;
        /* color: rgb(150, 150, 255); */
        font-style: italic;
        text-align: center;
        /* width: 15%; */
        padding: 0;
        font-family: "Chicle";
        letter-spacing: 0.1em; 
        font-size: 1.5rem;
        
    }
    #logo{
        flex: 2;
        color: gold;
        padding: 0 4rem 0 1rem;
    }
}



/* -------------------------- */
/*        PAGE CONTENTS       */
/* -------------------------- */

#banner{
    margin: -2rem -2rem 1rem; 
    /* margin Top, sides, bottom */
    img{
        align-self: center;
        width: 100%;
        height: fit-content;
    }
}

#page h2{
    /* padding: 0 10rem; */
    text-align: center;
    font-size: 2em;
}

.projectBox {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
}

.tile{
    display: flex;
    /* overflow: hidden; */
    /* border: solid #171e3d; */
    /* height: 8rem; */
    margin: 0.5rem -0.5rem;
    /* background-color: rgb(100, 100, 100); */
    /* & :hover {
        opacity: 0.5;
    }  */
    /*  --- IMAGE STYLES ---     */
    img{
        /* align-self: center; */
        height: 9rem;
        width: 13.5rem;
    }
}

/*  --- TEXT STYLES  ---     */
.textbox{
    padding: 0% 2%;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    /* weight from 100-1000 */
    font-weight: 500; 
    font-style: normal;
    /* color: rgb(230, 230, 230); */
    /* text-align: justify; */
    font-size: 0.9em;
    /* letter-spacing: 0.1rem; */
    h3{
        /* color: skyblue; */
        text-transform: uppercase;
    }
}






/* --------------------- */
/*       Backdrop        */
/* --------------------- */

@keyframes twillight {
    0% {background-color: #1e274d;}
    /* 50% {background-color: #FFB226;} */
    100% {background-color: rgb(255, 165, 92);}

}

input{
    display: none;
    position: fixed;
    z-index: 5;
}

input:checked ~ body{
    animation-name: twillight;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: linear;
}

/* ------------------------------ */
/* -------- CLOUD STYLES -------- */
/* ------------------------------ */

@keyframes drift {
    0% {
        /* transform: translateX(calc(50vw + 100px)); */
        /* transform: translateX(50vw); */
        left: 100%;
    }
    100% {
        /* transform: translateX(calc(-50vw - 100px)); */
        /* transform: translateX(-50vw); */
        left: 0%;
    }
}

@keyframes cloudColors {
    0% {opacity: 0%; background-color: aliceblue;}
    10% {opacity: 100%;}
    /* 50% {background-color: gray;} */
    90% {opacity: 100%;}
    100% {opacity: 0%; background-color: honeydew;}
    /* 0% {background-color: aliceblue;}
    100% {background-color: honeydew;} */
}

.cloud {
    position: fixed;
    min-width: 50px;
    min-height: 25px;
    width: 10%;
    height: 5%;
    max-width: 100px;
    max-height: 50px;

    /* background-color: aliceblue; */
    /* border: black solid ; */
    /* border-radius: 50px; */
    z-index: -1;
    /* transform: translateX(60vw); */
    animation: drift 8s linear 0s infinite forwards;
    overflow: visible;
}

.cloudlet {
    position: absolute;
    /* border: black solid 1px; */
    opacity: 0%;
    border-radius: 25px;
    background-color: aliceblue;
    animation: cloudColors 8s linear 0s infinite both;
}


/* Cloud animation times (viewport width dependant) */

/* Large screens */
.c1c {
    animation-delay: 0s;
    animation-duration: 12s;
}

.c2c {
    animation-delay: 3s;
    animation-duration: 9s;
}

.c3c {
    animation-delay: 6s;
    animation-duration: 10s;
}

.c4c {
    animation-delay: 9s;
    animation-duration: 10s;
}

.c5c {
    animation-delay: 9s;
    animation-duration: 14s;
}

/* Medium screens */
/* @media (max-width: 768px) { */
@media (max-width: 800px) {
    .c1c {
        animation-delay: 0s;
        animation-duration: 10s;
    }
    
    .c2c {
        animation-delay: 3s;
        animation-duration: 8s;
    }
    
    .c3c {
        animation-delay: 4s;
        animation-duration: 9s;
    }
    
    .c4c {
        animation-delay: 7s;
        animation-duration: 8s;
    }
    
    .c5c {
        animation-delay: 7s;
        animation-duration: 12s;
    }
}

/* Small Screens */
@media (max-width: 480px) {

    #page {
        width: 100%;
    }

    /* .c1c {
        animation-delay: 0s;
        animation-duration: 7s;
    }
    
    .c2c {
        animation-delay: 1s;
        animation-duration: 6s;
    }
    
    .c3c {
        animation-delay: 3s;
        animation-duration: 8s;
    }
    
    .c4c {
        animation-delay: 6s;
        animation-duration: 9s;
    }
    
    .c5c {
        animation-delay: 6s;
        animation-duration: 10s;
    } */
}



/* Cloud 1 */

#c1 {
    top: 40%;
}

#c1_1 {
    top: 40%;
    width: 100%;
    height: 40%;
}

#c1_2 {
    top: 20%;
    left: 20%;
    width: 70%;
    height: 40%;
}

#c1_3 {
    top: 0%;
    left: 55%;
    width: 25%;
    height: 40%;
}

/* Cloud 2 */

#c2 {
    top: 10%;
}

#c2_1 {
    top: 25%;
    left: 30%;
    width: 70%;
    height: 45%;
}

#c2_2 {
    top: 40%;
    left: 0%;
    width: 70%;
    height: 45%;
}

#c2_3 {
    top: 65%;
    left: 50%;
    width: 25%;
    height: 25%;
}

#c2_4 {
    top: 10%;
    left: 60%;
    width: 30%;
    height: 30%;
}

/* Cloud 3 */

#c3 {
    top: 20%;
}

#c3_1 {
    width: 50%;
    height: 30%;
    top: 50%;
    left: 0%;
}

#c3_2 {
    width: 40%;
    height: 30%;
    top: 30%;
    left: 20%;
}

#c3_3 {
    width: 60%;
    height: 30%;
    top: 5%;
    left: 30%;
}

#c3_4 {
    width: 50%;
    height: 25%;
    top: 15%;
    left: 10%;
}

#c3_5 {
    width: 22%;
    height: 25%;
    top: 70%;
    left: 70%
}

/* Cloud 4 */

#c4 {
    top: 60%;
}

#c4_1 {
    top: 40%;
    width: 90%;
    height: 40%;
}

#c4_2 {
    top: 20%;
    width: 30%;
    height: 50%;
    left: 10%
}

#c4_3 {
    top: 20%;
    width: 30%;
    height: 40%;
    left: 50%
}

#c4_4 {
    top: 10%;
    width: 40%;
    height: 45%;
    left: 30%
}

/* Cloud 5 */

#c5 {
    top: 90%;
}

#c5_1 {
    top: 60%;
    width: 80%;
    height: 40%;
}

#c5_2 {
    top: 40%;
    width: 60%;
    height: 40%;
    left: 30%
}

#c5_3 {
    top: 20%;
    width: 60%;
    height: 40%;
    left: 50%
}

#c5_4 {
    top: 55%;
    width: 40%;
    height: 50%;
    left: 60%
}


#copytext {
    font-family: "Chicle";
    position: fixed;
    color: aliceblue;
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 2px;
    bottom: 1vh;
    right: 1vw;
    z-index: 5;
}
